/* Estilo para el botón "Yes" */
.yesButton {
    -fx-background-color: #F2DB94;
    -fx-text-fill: #414C5C;
    -fx-padding: 15px 25px; /* Ajuste de padding */
    -fx-font-size: 16px; /* Ajuste de tamaño de fuente */
    -fx-font-weight: bold;
    -fx-border-radius: 10px; /* Bordes redondeados */
    -fx-background-radius: 10px; /* Bordes redondeados */
    -fx-border-color: #D1B84F; /* Color de borde */
    -fx-border-width: 2px; /* Ancho de borde */
    -fx-effect: dropshadow(gaussian, #D1B84F, 5, 0, 0, 2); /* Efecto de sombra */
    -fx-transition: background-color 0.3s ease; /* Transición suave de color */
}

.yesButton:hover {
    -fx-background-color: #E3C876; /* Color de fondo en hover */
    -fx-effect: dropshadow(gaussian, #D1B84F, 10, 0, 0, 4); /* Efecto de sombra más pronunciado */
}

/* Estilo para el botón "No" */
.noButtoon {
    -fx-background-color: #F2DB94;
    -fx-text-fill: #414C5C;
    -fx-padding: 15px 25px; /* Ajuste de padding */
    -fx-font-size: 16px; /* Ajuste de tamaño de fuente */
    -fx-font-weight: bold;
    -fx-border-radius: 10px; /* Bordes redondeados */
    -fx-background-radius: 10px; /* Bordes redondeados */
    -fx-border-color: #D1B84F; /* Color de borde */
    -fx-border-width: 2px; /* Ancho de borde */
    -fx-effect: dropshadow(gaussian, #D1B84F, 5, 0, 0, 2); /* Efecto de sombra */
    -fx-transition: background-color 0.3s ease; /* Transición suave de color */
}

.noButtoon:hover {
    -fx-background-color: #E3C876; /* Color de fondo en hover */
    -fx-effect: dropshadow(gaussian, #D1B84F, 10, 0, 0, 4); /* Efecto de sombra más pronunciado */
}

/* Estilo para VBox con preguntas */
.vboxQuestions {
    -fx-background-color: #F2DB94;
    -fx-padding: 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; /* Bordes redondeados */
    -fx-background-radius: 10px; /* Bordes redondeados */
    -fx-border-color: #D1B84F; /* Color de borde */
    -fx-border-width: 2px; /* Ancho de borde */
    -fx-effect: dropshadow(gaussian, #D1B84F, 5, 0, 0, 2); /* Efecto de sombra */
}


